<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4>Crear</h4>
            <div class="row justify-content-center">
                <div class="col-2">
                    <input [(ngModel)]="name" placeholder="Nombre" type="text" class="form-control">
                </div>
                <div class="col-2">
                    <input [(ngModel)]="username" placeholder="Username" type="text" class="form-control">
                </div>
                <div class="col-2">
                    <select [(ngModel)]="rol" placeholder="Rol" type="text" class="form-select">
                        <option value="Admin">Admin</option>
                        <option value="Basic">Basic</option>
                    </select>
                </div>
                <div class="col-2">
                    <input [(ngModel)]="password" placeholder="Contraseña" [disabled]="disablePass" type="text" class="form-control">
                </div>
                <div class="col-auto">
                    <button *ngIf="id.trim() === '' else Cambio" (click)="crear()" class="btn btn-success">
                        Guardar
                    </button>
                    <button *ngIf="id.trim() !== '' " (click)="cancelar()" class="btn btn-danger mx-2">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #Cambio>
        <button #Cambio (click)="actualizar()" class="btn btn-warning">
            Cambiar
        </button>
    </ng-template>
    <div class="row my-2">
        <div class="col text-center">
            <h4>Jugadores</h4>
            <div class="row">
                <div class="col-2">
                    Nombre
                </div>
                <div class="col-2">
                    Username
                </div>
                <div class="col-2">
                    Rol
                </div>
                <div class="col-6">
                    Acciones
                </div>
            </div>
            <div class="row my-2" *ngFor="let item of list; index as i">
                <div class="col-2">
                    {{item.name}}
                </div>
                <div class="col-2">
                    {{item.username}}
                </div>
                <div class="col-2">
                    {{item.rol}}
                </div>
                <div class="col-3">
                    <button (click)="editar(i)" class="btn btn-info">
                        Editar
                    </button>
                </div>
                <div class="col-3">
                    <button (click)="eliminar(i)" class="btn btn-danger">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>